<% include ../partials/header %>

<!-- adds some spacing on the sides -->
<div class="container">

    <!-- same as div really, just has a name for us to recognize -->
    <header class="jumbotron">
        <!-- more spacing -->
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked plans from all over the world</p>
            <!-- p is for spacing to ensure button is on its own line -->
            <p>
                <a class="btn btn-primary btn-lg" href="/plans/new">Add New Plan</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
        <% plans.forEach(function(i){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="<%= i.image %>" class="card-img-top" alt="<%= i.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= i.name %></h5>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        <a href="/plans/<%= i._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>