<!DOCTYPE html>
<html>
    <head>
        <title>DIYPlans</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/stylesheets/main.css" rel="stylesheet">

    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">DIYplans</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"   data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="  false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
<!--         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form action="/plans" method="GET" class="">
                    <input type="submit" name="filter" value="fabrication" class="btn btn-default">
                </form>
            </li>
            <li class="nav-item">
                <form action="/plans" method="GET" class="">
                            <input type="submit" name="filter" value="machining" class="btn btn-default">
                </form>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/construction">Construction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/woodworking">Woodworking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/custom_projects">Custom Projects</a>
            </li>
        </ul> -->

      <!--       <form action="/plans" method="GET" class="">
        <div class="form-group">
            <input type="text" name="search" placeholder="Plan search..." class="form-control">
            <input type="submit" value="search" class="btn btn-default">
        <div>
    </form> -->

        <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/<%= currentUser.id %>">Signed In As <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>
      </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0) {%>
            <div class="alert alert-danger" role="alert">
                <%= error%>
            </div>
        <% } %>  
        <% if(success && success.length > 0) {%>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>  
    </div>
