<% include partials/header %>

<!--<div class="container">-->
<div class="row justify-content-center">
    <div class="col-md-12 text-center mt-3 mb-2">
        <h1>Sign Up</h1>
    </div>
        <!--<div style="width: 30%; margin: 25px auto;">-->
    <div class="col-4 col-xs-12">
		<form action="/register" method="post">
            <!-- used for grouping and adds space -->
            <div class="form-group">
    			<input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
    			<input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
    			<input class="form-control" type="text" name="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
    			<input class="form-control" type="text" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
    			<input class="form-control" type="email" name="email" placeholder="email" required>
            </div>
            <div class="form-group">
    			<input class="form-control" type="text" name="avatar" placeholder="avatar url">
            </div>
            <div class="form-group">
                <button class="brn btn-lg btn-primary">Sign Up</button>
            </div>
        </form>
        <a href="/plans">Back to Plans</a>
    </div>
</div>


<% include partials/footer %>