<% include ../partials/header %>



<!-- adds some spacing on the sides -->
<div class="container">

    <!-- same as div really, just has a name for us to recognize -->
    <header class="jumbotron">
        <!-- more spacing -->
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <!-- p is for spacing to ensure button is on its own line -->
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(i){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <!-- want to display the campground image string into the src sothat it will display the image -->
                    <img src="<%= i.image %>">
                    <div class="caption">
                        <h4><%= i.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= i._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>