<% include ../partials/header %>

<div class="container row mt-2">
	<div class="col-md-6">
		<h1>User: <%= user.username %></h1>
		<div class="thumbnail">
			<% if(!user.avatar){ %>
				<img class="avatar_css" src="/images/default-user-icon.jpg">
			<% }else { %>
				<img class="avatar_css" src="<%= user.avatar %>">
			<% } %>
		</div>
		<a href="/forgot">Change Password</a>  <!-- only show this if current user -->
	</div>
	<div class="col-md-6">
		<h1>Uploaded Plans</h1>
		<ul>
			<% plans.forEach(function(plan){ %>
				<li><a href="/plans/<%= plan.id %>"><%= plan.name %></a></li>
			<% }); %>
		</ul>
	</div>
</div>

<% include ../partials/footer %>